<%- include('./partials/header.ejs')%>
    <div class="wrapper">
        <div class="container">
            <div class="jumbotron">
                <h3><b>ABOUT US</b></h3>      
                <p>The Pick Your Court is designed to streamline the process of managing user activities, including registrations, reservations, notifications, and feedback, within an educational or recreational facility context. This system provides an interactive platform for users, typically students, to access various services such as booking reservations, receiving notifications, and providing feedback. The administration side handles notifications, ensuring communication is efficiently managed</p>
            </div>
            
        </div>
    </div>
<%- include('./partials/footer.ejs')%>