<%- include('./partials/header.ejs')%> 
     <div class="wrapper">
            <div class="container-fluid">
                <div class="row intro-text">
                        <div class="col-md-6 col-sm-6">
                            <img src="/images/2.jpg" height="100%" width="100%" />
               
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h2><b>Effortless Court Bookings</b></h2>
                    <p>Reserve your favorite court with just a few clicks!</p> <br>
                    <p>Pick Your Court is a user-friendly Court Reservation Web Application designed to cater to students, instructors, and staff at UREC (University Recreation Center). The platform streamlines the process of reserving courts, allowing members to effortlessly schedule bookings, manage reservations, and access real-time availability information. By providing a convenient and efficient means to secure court time, the application aims to enhance the organization of sports activities
                        
                    </p>
                    <p>
                        At Pick Your Court, we are committed to enhancing your playing experience. We ensure that our courts meet the highest standards of quality and are maintained regularly to provide a top-notch environment for your games. With our service, you can focus solely on your game and leave the hassle of booking and planning to us.

Join our community today and discover the best places to play badminton in your area. Sign up now and make your next game a memorable one!


                    </p>
                        <br>
                        <a class="nav-link" href="/bookings"> 
                            <button class="btn btn-primary btn-lg button-custom ">
                                    Let's Get Started
                                </button>
                        </a>
                        </div>
                </div>
               
               
            </div> 
        </div>
    <%- include('./partials/footer.ejs') %>
        